/*General styling*/

body{
	background-color: #f8f9f9;
	height:100vh;
	/* aligning center */
	display: flex;
	align-items: center;
	justify-content: center;
	font: 14px/22px 'Open Sans', sans-serif;
}


h1,
h2{
	font: 20px/10px 'Open Sans', sans-serif;
}


h4{
	color: #abb2b9;
	font-weight: 300;
}


h2{
	position: absolute;
	top:18px;
	right: 20px;
}

/* this is the chrome of where the game is going to be played */
.board{
	position: relative;
	padding: 20px;
	background-color: white;
	border-radius: 4px;
	height: 90vh;
	margin:auto;
	width: 960px;
	/* natural shadow effect */
	box-shadow: 0 3px 3px #abb2b9;
	box-shadow: 0 5px 5px #abb2b9;
	box-shadow: 0 7px 7px #abb2b9;
}


.top{
	border-bottom: 1px solid #f8f9f9;
	margin-bottom: 20px;
}


.stars span{
	font-size: 12px;
	line-height: 12px;
	padding-left: 20px;
	color:#ffc300;
}
